<div class="header"  style="background-color: cornflowerblue;">
    <a href="#default" class="logo" style="font-size: x-large;">Staff Dashboard</a>
    <div class="header-right">
      <a  routerLink= "/staffdashboard" routerLinkActive="active">Home</a>
      
      <a routerLink= "/product" routerLinkActive="active">Products</a>
      <a routerLink= "/addcustomer" routerLinkActive="active">Add Customer</a>
      <a routerLink= "/customer" routerLinkActive="active">Customer</a>
      <a routerLink= "/order" >Orders</a>
      

      <a routerLink= "/login" routerLinkActive="active">Logout</a>

      <br>
      <br>

      <!-- <div class="search-container"> -->
        <form>
          <input type="text" placeholder="Search.." name="search">&nbsp;
          <button type="submit">Go</button>
        </form>
      <!-- </div> -->
  
    </div>
  </div>
  